body, html {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}



/* NAVIGATION */

.navbar {
    /* background-color: cadetblue; */
    color: white;
    float: left;
    position: fixed;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    width: 6.25rem;
}


/* MAIN CONTENT */

.main-content {
    /* background-color: aquamarine; */
    max-width: 62.5rem; /* 1000px */
    height: auto;
    margin: 0 auto;
    border-radius: 0.25rem;
    box-shadow: 0.625rem 0.3125rem 1.25rem rgba(10,10,13,.2);  /*10px 5px 20px*/
}