body, html {
    color: #193249;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: #f4f6fa;
}

p {
    line-height: 1.5;
    font-size: 1.125rem; /* 18px */
}



/* NAVIGATION */

.navbar {
    /* background-color: cadetblue; */
    color: white;
    float: left;
    position: fixed;
    z-index: 100;
}

.navbar a  {
    list-style-type: none;
    width: 6.25rem;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    padding: 0.5rem 0.75rem;
}


/* MAIN CONTENT */

.main-content {
    
    max-width: 62.5rem; /* 1000px */
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    border-color: #0fa4af; */
    
    font-size: 1.125rem; 
}

.intro {
    padding: 22rem 0;
}

h1, h2, h3 {
    font-family: "League Spartan", sans-serif;    
    font-weight: 500;    
    color: #0fa4af;
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 4.5rem;
}

h2 {
    font-size: 2.5rem;
    padding: 5rem 0 1rem 0;
}

h3 {
    font-size: 1.5rem;
}

/* PORTFOLIO */

#portfolio {
}


.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
}
.project-card {
    width: 27rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: white -7px -8px 8px 4px, #00000026 2px 2px 13px 4px;
    background: linear-gradient(-45deg, #ffffff6b, #0000000a);
}

.project-thumbnail {
    width: 30%;
    height: auto;
    border-radius: 0.25rem;
}



/* ABOUT ME */


/* CONTACT */

#contact {
    padding: 2rem 0;
}